.Container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}